

flask
flask-cors
flask-caching
python-dotenv
requests
flask-sqlalchemy
flask-bcrypt
pyjwt
mysqlclient
# first lets update pip

# ''' python.exe -m pip install --upgrade pip '''

# # lets install the dependecies

# ''' pip install -r requirements.txt '''
